{% block sw_cms_block_image_text_previews %}
	<div class="sw-cms-preview-image-textt">
		<h2 class="text-center">The Custom Block</h2>

		<div class="row-datas">
			<div class="row-data">
				<img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
				<p>Image 1
				</p>
			</div>
			<div class="row-data">
				<img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
				<p>Image 2</p>
			</div>
			<div class="row-data">
				<img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
				<p>Image 3</p>
			</div>
			<div class="row-data">
				<img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
				<p>Image 4</p>
			</div>
			<div class="row-data">
				<img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
				<p>Image 5</p>
			</div>
			<div class="row-data">
				<img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
				<p>Image 6</p>
			</div>
		</div>
	</div>
{% endblock %}
