{% block sw_cms_block_image_text %}
	<h2 class="text-center">The Custom Block</h2>
	<div class="sw-cms-block-image-text">
		<div>
			<slot name="image1"></slot>
			<slot name="text1"></slot>
		</div>
		<div>
			<slot name="image2"></slot>
			<slot name="text2"></slot>
		</div>
		<div>
			<slot name="image3"></slot>
			<slot name="text3"></slot>
		</div>
		<div>
			<slot name="image4"></slot>
			<slot name="text4"></slot>
		</div>
		<div>
			<slot name="image5"></slot>
			<slot name="text5"></slot>
		</div>
		<div>
			<slot name="image6"></slot>
			<slot name="text6"></slot>
		</div>
	</div>
{% endblock %}
