{% block sw_cms_six_image_with_title_text %}
	<div>
		<div class="text-center">
			<sw-text-editor 
            v-model:value="element.config.content.value" 
            :disabled="disabled" 
            :vertical-align="element.config.verticalAlign.value" :allow-inline-data-mapping="true" 
            :is-inline-edit="true" 
            sanitize-input 
            sanitize-field-name="app_cms_block.template" 
            enable-transparent-background 
            @blur="onBlur" 
            @update:value="onInput"/>
		</div>
		<div>
			<img 
            src="https://ipsf.net/wp-content/uploads/2021/12/dummy-image-square-300x300.webp" 
            alt=""
            >
		</div>
	</div>
{% endblock %}
