{% block sw_cms_six_image_with_title_text %}
    <div class="text-center" >
        <h2>Hello From Component</h2>
        <sw-text-editor
            :value="text"
            
        />
        
    </div>
{% endblock %}