{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block page_content %}
    <div class="container">
        <h1>{{ shopName }}</h1>
        <h1>hello</h1>
    </div>
{% endblock %}
